@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Riddler</h1>
    <p>The foremost authority for good riddles that will be found anywhere on the local host.<a></a>.</p>
</div>
